div {
    width: 70%;
    margin: auto;
}

h1 {
    color: red;
    border: 5px solid blue;
    position: sticky;
    top: 20px;
}
h2 {
    color: blue;
    border: 2px dashed red;
}
p {
    border: 2px solid red;
    color: aqua;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    margin: 20px;
}

ul li {
    background: red;
}

#a {
    color: black;
}

.warna {
    background-color: pink;
}

.font {
    font-style: italic;
}